#public-header {

    ul {
        li {
            display: inline;
            a {
                text-decoration: none;
            }
        }
    }
    .right-links {
        float: right;
        li {
            padding: 0 20px;
        }
    }
}
